@font-face {
  font-family: "TT Lakes";
    font-style: normal;
  font-weight: 400;
  src: local("TT Lakes"),
  url("./fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 600;
  src: local("TT Lakes"),
  url("./fonts/TTLakes-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}



.button-round {
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  transition: 200ms;
}

.button-round:hover {
  filter: grayscale(20%);
}


.article-block {
position: fixed;
background-color: white;
opacity: 0.9;
top: 0;
bottom: 0;
right: 0;
left: 0;

}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  width: 320px;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
  box-shadow: 0 0 50px 40px rgba(178, 176, 176, 0.1); 
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  padding: 24px;
  padding-top: 18px;
}

.sidebar__button_close {
  background-image: url("./svg/close.svg");
}



.sidebar__icon {
  background-image: url("./svg/Group.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 97px;
  height: 51px;
  margin-right: auto;
}

.sidebar__button_search {
  background-image: url("./svg/search.svg");
}

.sidebar__ul {
list-style: none;
}

.sidebar__link_active::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 32px;
  position: absolute;
  top: -4%;
  left: -40px;
  border-radius: 0 20px 20px 0;
  background-color: #41F6D7;
}

.sidebar__link_active {
  position: relative;
}



.sidebar__link {
  display: block;
  text-decoration: none;
  color: #1B1C21;
  font-size: 16px;
  padding-bottom: 32px; 
  transition: 200ms;
}

.sidebar__link:hover,
.sidebar__footer__mail:hover,
.sidebar__footer__iphone:hover,
.radio-span:hover {
  color: #41F6D7
}

.sidebar__link_active:hover {
  color: #1B1C21;
}

.sidebar__link_activ {
text-decoration: none;
color: #7E7E82 
}

.sidebar__footer {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding-left: 24px;
margin-top: auto;
}

.sidebar__footer__block {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.sidebar__footer__button_iphone {
  background-image: url("./svg/iphone.svg");
}

.sidebar__footer__button_support {
  background-image: url("./svg/support.svg");
}

.sidebar__footer__button_contacts {
  background-image: url("./svg/contacts.svg");
}

.sidebar__footer__mail {
  display: block;
  text-decoration: none;
  color: #1B1C21;
  font-size: 16px;
  margin-bottom: 12px;
  transition: 200ms;
}

.sidebar__footer__iphone {
  display: block;
  text-decoration: none;
  color: #1B1C21;
  font-size: 24px;
  font-weight: 600;
  transition: 200ms;
}

.sidebar__footer__lang {
  display: flex;
  margin-top: 8px;
  margin-bottom: 32px;
  padding: 0;
}

.radio {
  display: none;
}

.radio-span_active {
  color: #7E7E82;
}

.radio-span {
  padding-right: 7px;
  transition: 200ms;
}



body {
  font-family: "TT Lakes";
  margin: 0;
  /* overflow-y: hidden; */
}


.page-header {
  height: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
  color: #FFFFFF;
  gap: 16px;
}

.page-header__title {
  color: #1B1C21
}

.page-header__button_menu {
  background-image: url("./svg/menu.svg");
}

.page-header__divider, .page-header__divider1 {
  display: flex;
  width: 2px;
  height: 32px;
  border-radius: 10px;
  background-color: #EAEAEA;
}

.page-header__icon {
  width: 96px;
  height: 50;
}

.page-header__button_iphone {
  background-image: url("./svg/iphone.svg");
}

.page-header__button_support {
  background-image: url("./svg/support.svg");
}

.page-header__button_contacts {
  background-image: url("./svg/contacts.svg");
}

.page-header__button_application {
  background-image: url("./svg/application.svg");
}

.page-header__button_repair {
  background-image: url("./svg/repair.svg");
}

.page-header__sub {
  color: #1B1C21
}

.pade-main {
  background-color:#F8F8F8;
}

.pade-main__menu {
  padding-bottom: 10px;
}

.pade-main__title  {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 28px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.title::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 40px;
  border-radius: 0 20px 20px 0;
  background-color: #41F6D7;
  margin-right: 16px;
}

.main-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  height: 45px;
  padding: 0;
  margin: 15px;
  overflow-x: scroll;
  overflow-y: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  margin-left: 16px;
}

.main-menu__list::-webkit-scrollbar {
  display: none;
}

.main-menu__link {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #7E7E82;
}



.main-menu__link_active {
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 5px;

}

.pade-section {
  display: flex;
  flex-wrap: wrap;
}

.pade-section__text {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

.pade-section__text_iPhone {
  font-size: 14px;
  margin: 0;
}

.pade-section__text_tablet {
  font-size: 14px;
  margin-bottom: 0;
}

.pade-section__button {
  margin-top: 16px;
  margin-left: 6px;
  background-color: #F8F8F8;
  background-image: url("./svg/strelka.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.button__text {
  padding-left: 16px;
  font-size: 16px;
  color: #1B1C21;
  font-weight: 500; 
}

.pade-section__image {
max-width: 100%;
margin-bottom: 24px;
} 


.section-brand_title {
  font-size: 16px;
  color: #7E7E82;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 400;
  padding: 16px; 
  margin-top: 0;
  margin-bottom: 16px;
  background-image: linear-gradient(to right,#F8F8F8,#FFFFFF)
}


.swiper-slide__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 240px;
  height: 72px;
  margin-left: 16px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}

.Lenovo {
  width: 108px;
  height: 32px;
} 

.iphone,
.hp {
  margin-right: 80px;
} 

.section-brand_link {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  background-image: url("./svg.brand/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.strelka-logo {
  display: flex;
  margin-left: 26px;
  margin-bottom: 26px;
}

.strelka-logo__icon {
  padding-left: 7px;
background-color: #F8F8F8;
background-image: url("./svg/strelka.svg");
background-repeat: no-repeat;
background-position: 0 50%;
}

.strelka-logo__text {
  padding-left: 16px;
  background-color: #F8F8F8;
  font-size: 16px;
  font-weight: 500;
  
}





@media screen and (min-width: 0px) and (max-width: 767px){
  .page-header__title {
    display: none;
  }

 
  .page-header__button_iphone {
    display: none;
  }

  .page-header__sub {
    display: none;
  }

  .page-header__button_contacts {
    display: none;
  }

  .page-header__button_support {
    display: none;
  }

  .pade-section__text_tablet {
    display: none;
  }

  .pade-section__text_computer {
    display: none;
  }

  .page-header__divider1 {
    display: none;
  }

  .pade-section__image {
    min-width: 100%;
  }

  .button__logo {
    display: none;
  }

  .swiper {
    height: 110px;
  }
  
  .swiper-slide {
    width: 240px;
  } 

  .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #a9a9a9;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
  }

}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .page-header {
  padding-left: 24px;
  padding-right: 24px; 
}

.page-header__title {
  display: none;
}

.page-header__sub {
  display: none;
}

.page-header__icon {
  margin-right: auto;
}

.pade-main__title {
  margin-right: 24px;
}

.main-menu__list {
  margin-left: 24px;
}

.pade-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 24px;
  padding-top: 0;
  padding-bottom: 40px;
  gap: 48px;
}

.pade-section__text {
  flex-basis: 312px;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
  margin-bottom: 0;
}

.pade-section__image {
  max-width: 531px;
  flex-grow: 1;
  padding-bottom: 0;
}

.pade-section__text_computer {
  display: none;
}

.section-brand_title {
  margin-left: 14px;
}


.section-brand__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.swiper-slide {
flex-shrink: 1;
}



.swiper-slide__content {
  margin: 0;
}

.hide {
  height: 160px;
  overflow-y: hidden;
}
}

@media (min-width: 1119px) {
  body {
    background-color: #F8F8F8;
  }

  .page-header {
    padding-left: 0;
  }

  .page-header__title {
    margin-right: auto;
      display: flex;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 16px;
      font-size: 28px;
      line-height: 40px;
      margin-top: 0;
      margin-bottom: 0;
  }

  .title::before {
    margin-right: 25px;
  } 

  .page-header__button_menu,
  .page-header__divider1,
  .page-header__icon,
  .page-header__button_iphone,
  .page-header__button_support,
  .page-header__button_contacts,
  .page-header__divider {
    display: none;
  }

  .pade-main__title {
    display: none;
  }

  .main-menu__list {
    display: flex;
    flex-wrap: wrap;
    height: 82px;
  }

  .pade-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 28px;
    padding-top: 0;
    padding-bottom: 49px;
    gap: 36px;
  }

  .pade-section__text {
    flex-basis: 592px;
    flex-grow: 1;
    padding: 0;
    margin-bottom: 0;
  }
    
  .pade-section__image {
    flex-basis: 530px;
    flex-grow: 1;
    padding-bottom: 0;
    max-width: 100%;
  }

  .section-brand {
    margin-left: 32px;
  }

  .swiper-slide {
    flex-shrink: 1;
    width: auto;
    }

  .section-brand__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 16px;
      margin-bottom: 24px;
  }

  .hide {
    height: 160px;
    overflow-y: hidden;
  }


}